.sidebar_theme_final{
    background-color:#222E3C !important;
}
.background_color_final{
    background-color:#19222C !important;
}
.item_background_color_final{
    background-color: #222E3C  !important;
}